*.pyc
*.sqlite3
*.json
**/migrations/
# Ensure all devcontainer files are tracked
!.devcontainer/

# Ensure all VS Code Insiders config files are tracked
!.vscode-insiders/

# Ensure all VS Code config files are tracked
!.vscode/
!/.vscode/settings.json
!/.vscode/extensions.json
